.header__menu-button {
  display: none;
}

.header__menu-button:before,
.header__menu-button:after {
  content: "";
  background-color: hsla(0,0%,100%,1);
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
}

.header__menu-button:before {
  top: 0;
  transition: .2s all ease-in-out;
  
}

.header__menu-button:after {
  bottom: 0;
  transition: .2s all ease-in-out;
  
}

.header__menu-button span {
  position: absolute;
  background-color: hsla(0,0%,100%,1);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  transition: .2s all ease-in-out;
  
}

@media screen and (max-width: 767px) {
  .header__menu-button {
    cursor: pointer;
    display: block;
    position: relative;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    width: 30px;
    height: 24px;
    transition: .2s all ease-in-out;
  }
}
